name: BitcoinZ macOS (x86_64)

on:
  workflow_dispatch:

jobs:
  macos-cross-build:
    name: macOS (x86_64)
    runs-on: ubuntu-latest

    env:
      HOST: x86_64-apple-darwin
      SDK_URL: https://github.com/ezzygarmyz/btcz-tools/releases/download/v2.2.0/Xcode-15.0-15A240d-extracted-SDK-with-libcxx-headers.tar.gz

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install depends
        run: |
          sudo apt update
          sudo apt install -y \
            clang lld llvm g++ zip cmake automake autoconf libtool \
            pkg-config curl wget python3 git p7zip-full


      - name: Xcode SDK
        run: |
          mkdir -p depends/SDKs
          wget -O depends/SDKs/Xcode15-SDK.tar.gz $SDK_URL
          # Verify checksum
          echo "4daaed2ef2253c9661779fa40bfff50655dc7ec45801aba5a39653e7bcdde48e  depends/SDKs/Xcode15-SDK.tar.gz" | sha256sum -c -
          # Extract SDK
          tar -xzf depends/SDKs/Xcode15-SDK.tar.gz -C depends/SDKs
          export SDK_PATH=$PWD/depends/SDKs
          echo "SDK_PATH=$SDK_PATH" >> $GITHUB_ENV


      - name: Build depends
        run: |
          cd depends
          make HOST=${HOST} -j$(nproc)
          cd ..

      - name: Build BitcoinZ
        run: |
          CONFIG_SITE=$PWD/depends/${HOST}/share/config.site
          ./zcutil/build.sh -j$(nproc)


      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bitcoinz-macos-x86_64
          path: |
            src/bitcoinzd
            src/bitcoinz-cli
            src/bitcoinz-tx